node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Environment files - ignore all .env* files anywhere in the project
**/.env*
.env*

.opencode
.opencode/*
backend_security_report.md
.cache/
attached_assets/
test/
db-copy/
prompts/

.github/workflows/app-risqai-backend-prod-AutoDeployTrigger-*.yml
.github/workflows/app-risqai-backend-prod-AutoDeployTrigger-*.yml
.github/workflows/azure-static-web-apps-icy-plant-0e669a70f.yml
