node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env.local
frontend/.env
frontend/.env
backend/.env
backend/.env.local
.env
.env.local
.opencode
.opencode/*
backend_security_report.md
.cache/

