modules = ["nodejs-20", "postgresql-16"]

[workflows]
runButton = "npm run dev"

[[workflows.workflow]]
name = "npm run dev"
mode = "sequential"
author = 40372127

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "dev"
author = 40372127
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm run dev"

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 3000

[[ports]]
localPort = 5174
externalPort = 80

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 5176
externalPort = 4200

[[ports]]
localPort = 9119
externalPort = 3003

[nix]
channel = "stable-24_05"

[agent]
integrations = ["javascript_stripe:1.0.0"]

[deployment]
build = ["sh", "-c", "cd backend && npm run build && cd ../frontend && npm run build"]
run = ["sh", "-c", "cd backend && npm start && cd ../frontend && vite start"]
deploymentTarget = "cloudrun"

