name: Build and deploy Node.js backend to Azure Web App - risqai-test-backend

on:
  push:
    branches:
      - staging
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install backend dependencies and Puppeteer
        working-directory: backend
        run: |
          npm install
          npx puppeteer browsers install chrome

      - name: Build backend
        working-directory: backend
        run: npm run build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_36380C0DA1D84593BDC1953428B292B9 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D359E0EF788A4C07B88D1DAF7EDE0C71 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A6F648F1E21C4D8A90F9FE5004A3BE9D }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'risqai-test-backend'
          slot-name: 'Production'
          package: ./backend
